# Ignore server files for safety
.htaccess
.htpasswd
# cfg/* was removed to unignore cfg/conf.php
# Note: cfg/conf.sample.php and cfg/.htaccess are explicitly unignored below,
# but since cfg/* is removed, their ! rules are not strictly necessary for them to be tracked
# if they were already tracked. However, keeping them doesn't hurt.
!cfg/conf.sample.php
!cfg/.htaccess

# Ignore data/
/data/

# Ignore PhpDoc
doc/*
!doc/*.md

# Ignore vendor dir of Composer except PHP files
vendor/*.*
vendor/*/*.*
vendor/*/*/*.*
vendor/*/*/*/*.*
vendor/*/*/*/*/*.*
vendor/*/*/*/*/*/*.*
vendor/**/LICENSE
vendor/**/test
vendor/**/tst
vendor/**/tests
vendor/**/build_phar.php
!vendor/**/*.php

# Ignore local node modules, unit testing logs, api docs and IDE project files
js/node_modules/
js/mocha-results.xml
js/test.log
tst/log/
tst/ConfigurationCombinationsTest.php
tst/.phpunit.result.cache
.settings
.buildpath
.project
.phpdoc
.externalToolBuilders
.c9
/.idea/
*.iml
